.site-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
}

.List,
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item {
  padding: 0;
  cursor: default;
}
.list-group-item__inner {
}
.list-group-item__drag {
  padding: 10px 15px;
  cursor: row-resize;
  cursor: -webkit-grab;
}
.list-group-item__no-drag {
  flex: 1;
  display: flex;
  padding: 10px 15px 10px 0;
  cursor: default;
}
.drag {
  display: flex;
  flex-flow: column;
}
.drag__item {
  display: block;
  width: 15px;
  height: 2px;
  background: #777;
  margin: 1px 0;
}
.placeholder {
  opacity: 0.5;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #eee;
  text-transform: uppercase;
  font-size: 0.85em;
}

.list-group-item.dragged {
  width: calc(100% - 2em);
  max-width: calc(600px - 2em);
  opacity: 0.65;
  border-style: dashed;
}

[data-todo="item-complete"],
[data-todo="item"],
.add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-todo="item-complete"] label {
  text-decoration: line-through;
  color: #999;
}
.form-check-label {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  line-height: 1.2;
  flex: 1 1 0;
}
input[type=checkbox].form-check-input {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}

[data-todo="add"],
[data-todo="delete"],
[data-todo="update"] {
  margin-left: 0.5em;
}
[data-todo="item-edit"] {
  text-align: right;
  padding: 10px 15px;
}
[data-todo="edit-item"] {
  margin-bottom: 0.5em;
}

.add-container {
  margin: 1em 0;
}