<!DOCTYPE HTML>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Eric's React To Do App</title>
  <meta name="description" content="To Do - by Eric Constantinides">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/todo.css" media="screen">
  <script>document.documentElement.classList.remove('no-js'); document.documentElement.classList.add('js');</script>
</head>
<body>
  <div class="site-container">
    <div id="todo"></div>
    <!-- <div id="todo">
      <ul class="list-group" data-todo="list"></ul>
      <div class="add-container">
        <input class="form-control" placeholder="Enter a new todo item" data-todo="add-item" type="text">
        <button class="btn btn-sm btn-primary" data-todo="add" value="add">Add</button>
      </div>
    </div> -->
  </div>

<script src="/js/bundle.js"></script>
</body>
</html>